<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>
<div class="events-index">
    <div>
        <a href="/events/add"><button>Create Event</button></a>
    </div>
    <h3>Upcoming Week</h3>
    <div>7 Day Calendar View</div>
    <div class="events-container">
        <% for (let eventI of eventItems) { %>
            <%= console.log(eventI) %>
            <a href="/events/<%= eventI.id %>"><div class="events-list">
                <div><h3><%= moment(eventI.event_date).calendar() %></h3></div>
                <div><p><%= eventI.event_name %></p></div>
            </div></a>
        <% } %>
    </div>
</div>
<%- include('../partials/end') %>