<%- include('../partials/boilerplate') %>
<%- include('../partials/nav') %>
<div class="events-index">
    <div class="neweventbutton">
        <a href="/events/add"><button>Create Event</button></a>
    </div>
    <h3>Upcoming Week</h3>
    <div class="sevendaycontainer">
        <% for (let i = 0; i < 7; i++) { %>
            <a href="/events/date/<%= (moment().add(i, 'days').format("YYYY")) %>-<%= (moment().add(i, 'days').format("MM")) %>-<%= (moment().add(i, 'days').format("DD")) %>">
            <div class="daycard" id="<%= (moment().add(i, 'days').format("YYYY/MM/DD")) %>">
                <div class="daycarddate">
                    <h3><%= (moment().add(i, 'days').format("MM")) %></h3>
                    <h3><%= (moment().add(i, 'days').format("DD")) %></h3>
                </div>
                <div class="daycardevents">
                    <h3>Events</h3>
                </div>
            </div>
            </a>
        <% } %>
    </div>
    <div class="events-container">
        <% for (let eventI of eventItems) { %>
            <a href="/events/<%= eventI.id %>"><div class="events-list">
                <div class="date-split">
                    <div><h3><%= moment(eventI.event_date).format("YYYY") %></h3></div>
                    <div><h3><%= moment(eventI.event_date).format("MM/DD") %></h3></div>
                </div>
                <div><p><%= eventI.event_name %></p></div>
            </div></a>
        <% } %>
    </div>
</div>
<%- include('../partials/end') %>